<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701897158435-j1iliqfevipjath15gtihb417knv2dqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701897158435-j1iliqfevipjath15gtihb417knv2dqt</string>
	<key>API_KEY</key>
	<string>AIzaSyCjvNwnRw5ZgESRyonkiBVdzCcxdo8QCWc</string>
	<key>GCM_SENDER_ID</key>
	<string>701897158435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.team.1</string>
	<key>PROJECT_ID</key>
	<string>box-simulator-with-brawlers</string>
	<key>STORAGE_BUCKET</key>
	<string>box-simulator-with-brawlers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:701897158435:ios:7ff8fca65ca19be965a696</string>
</dict>
</plist>
